.checkbox_outer, .checkbox_outer:after, .checkbox_outer:before, .radio_outer, .radio_outer:before, .radio_outer:after { transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; } 

h2 { font-size: 32px; } 
ul { padding: 0; margin: 0; list-style: none; display: flex; flex-wrap: wrap; } 
ul li { width: 50%; margin-bottom: 50px; } 

.custom_input { position: absolute; left: 0; top: 0; right: 0; bottom: 0; height: 100%; width: 100%; opacity: 0; cursor: pointer; margin: 0; z-index: 1; } 

/* Custom checkbox */
.checkbox_wrapper { margin-bottom: 15px; } 
.checkbox_wrapper:last-child { margin-bottom: 0; } 
.checkbox_wrapper.inline { display: inline-flex; margin-right: 15px; } 
.checkbox_wrapper.inline:last-child { margin-right: 0; } 
.checkbox_outer { color: #000; position: relative; padding-left: 30px; display: flex; align-items: center; height: 22px; } 
.checkbox_outer:before { content: ''; position: absolute; left: 0; top: 0; height: 20px; width: 20px; border: 1px solid #000; border-radius: 5px; } 
.checkbox_outer:after { content: ''; position: absolute; left: 2px; top: 2px; height: 16px; width: 16px; background: url(check.svg); background-repeat: no-repeat; background-position: center; background-size: 16px; transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); opacity: 0; visibility: hidden; } 
.checkbox_outer.checked:before { border-color: #F05228; } 
.checkbox_outer.checked { color: #F05228; } 
.checkbox_outer.checked:after { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); opacity: 1; visibility: visible; } 


/* Custom Radio */
.radio_wrapper { margin-bottom: 15px; } 
.radio_wrapper.inline { display: inline-flex; margin-right: 15px; } 
.radio_wrapper.inline:last-child { margin-right: 0; } 
.radio_outer { color: #000; position: relative; padding-left: 30px; display: flex; align-items: center; height: 22px; } 
.radio_outer:before { content: ''; position: absolute; left: 0; top: 0; height: 20px; width: 20px; border: 1px solid #000; border-radius: 50%; } 
.radio_outer:after { content: ''; position: absolute; left: 4px; top: 4px; height: 12px; width: 12px; background: #F05228; border-radius: 50%; background-repeat: no-repeat; background-position: center; background-size: 10px; transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); opacity: 0; visibility: hidden; } 
.radio_outer.checked:before { border-color: #F05228; } 
.radio_outer.checked { color: #F05228; } 
.radio_outer.checked:after { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); opacity: 1; visibility: visible; } 

/* with border */
*, *:after, *:before { box-sizing: border-box; } 

/* with border checkbox */
.checkbox_wrapper_bd + .checkbox_wrapper_bd { margin-top: 25px; } 
.checkbox_outer_bd { position: relative; display: inline-block; } 

.checkbox_outer_bd input:checked + span:before {border-width: 10px; } 
.checkbox_outer_bd input:checked + span:after {opacity: 1;visibility: visible; } 
.checkbox_outer_bd > span:before { content: ''; position: absolute; left: 0; top: -1px; height: 20px; width: 20px; border: 1px solid #000; border-radius: 5px;transition: border 0.2s ease-in-out; } 
.checkbox_outer_bd > span {color: #000; position: relative;display: inline-block;padding-left: 25px; } 
.checkbox_outer_bd > span:after { content: ''; position: absolute; left: 0; top: -1px; height: 20px; width: 20px; background: url(https://cdn.shopify.com/shopifycloud/shopify/assets/checkout/checkbox-tick-66a9a39f70a44a226223ef4c61a701d2d10afaa73ba8846a509fbe58a82f3f36.svg); background-repeat: no-repeat; background-position: center; background-size: 13px;transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; opacity: 0; visibility: hidden;z-index: 1; } 
.checkbox_outer_bd input { position: absolute; left: 0; top: 0; right: 0; bottom: 0; height: 100%; width: 100%; opacity: 0; cursor: pointer; margin: 0; z-index: 1; } 

/* with border radio */
.radio_wrapper_bd + .radio_wrapper_bd { margin-top: 25px; } 
.radio_outer_bd { position: relative; display: inline-block; } 

.radio_outer_bd input:checked + span:before {border-width: 6px; }
.radio_outer_bd > span:before { content: ''; position: absolute; left: 0; top: -1px; height: 20px; width: 20px; border: 1px solid #000; border-radius: 50%;transition: border 0.2s border 0.2s ease-in-out; } 
.radio_outer_bd > span {color: #000; position: relative;display: inline-block;padding-left: 25px; }
.radio_outer_bd input { position: absolute; left: 0; top: 0; right: 0; bottom: 0; height: 100%; width: 100%; opacity: 0; cursor: pointer; margin: 0; z-index: 1; }
